@using NSN.Common;
@using NewSocialNetwork.Domain;
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    User myProfile = ViewBag.MyProfile;
    User userProfile = ViewBag.UProfile;
    IList<User> mutualFriends = null;
    if (!ViewBag.IsMyProfile && ViewBag.IsFriend != null && ViewBag.IsFriend)
    {
        mutualFriends = Globals.GetMutualFriends(myProfile.UserId, userProfile.UserId);
    }
}
@section html_head_area {@RenderSection("html_head_area", false)}
@RenderPage("~/Views/Shared/Frontend/pagelet/_apps_bar_pagelet.cshtml")
<div id="pagelet_app_content" class="UIContainer_Content">
    <div id="contentPane">
        <div id="pagelet_user_profile">
            @{
                string divProfile = "profile-" + userProfile.UserId;
            }
            <div id="@divProfile" class="UIContent_UserProfile">
                <div class="uiHeadProfile">
                    <div class="profileActions">
                        @if (userProfile.UserId != myProfile.UserId)
                        {
                            <div class="requestFriendAction">
                                @{
                                    bool isFriend = Globals.IsFriend(myProfile.UserId, userProfile.UserId);
                                    bool isConfirming = Globals.IsConfirmingFriendRequest(myProfile.UserId, userProfile.UserId);
                                    if (!isFriend && !isConfirming)
                                    {
                                        <div class="guiButton guiRedButton addFriend">Add Friend</div>
                                    }
                                    else if (!isFriend && isConfirming)
                                    {
                                        <div class="guiButton guiRedButton confirmingFriend">+1 Friend Request Sent</div>
                                    }
                                    else if (isFriend && isConfirming)
                                    {
                                        <div class="guiButton guiRedButton">Error!</div>
                                    }
                                }
                            </div>
                        }
                        @if (ViewBag.IsMyProfile && (ViewBag.IsEditInfoPage == null || !ViewBag.IsEditInfoPage))
                        {
                            <a class="guiButton guiBlueButton" href="@Url.RouteUrl("ProfileAction", new { action = "EditInfo" })">
                                Edit Profile</a>
                        }
                        @if (ViewBag.IsInfoPage == null || !ViewBag.IsInfoPage)
                        {
                            <a class="guiButton guiBlueButton" href="@Url.RouteUrl("ProfileInfo")">About</a>
                        }
                    </div>
                    <div class="uiProfileTitle">
                        @userProfile.FullName
                    </div>
                </div>
                <div class="uiHeadCoverPhoto">
                </div>
                <div id="pagelet_profileSidebar" class="UISidebar_Profile">
                    <div class="uiProfileImageBox">
                        <div class="uiProfilePictureBox">
                            <div class="uiProfilePicture">
                                <div class="uiPicture">
                                    <img src="@Url.Content("~/static/images/avatars/" + ViewBag.UAvatarFileName)" alt="" width="250" height="250" />
                                </div>
                                @if (ViewBag.IsMyProfile)
                                {
                                    <div><a id="change-avatar-btn">Change profile photo</a></div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="uiProfileInfoBox">
                        <div class="uiProfileInfo">
                            <div class="uiProfileInfoContent">
                                <div class="uiInfoContent">
                                    <div class="infoContent">
                                        <span>NSN Group: </span> <strong>@userProfile.UserGroup.Title</strong>
                                    </div>
                                    @if (userProfile.Country != null)
                                    {
                                        <div class="infoContent">
                                            <span>Live in</span> <strong>@userProfile.Country.Name</strong>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (!ViewBag.IsMyProfile && ViewBag.IsFriend != null && ViewBag.IsFriend && mutualFriends != null && mutualFriends.Count > 0)
                    {
                        <div id="pagelet_recommended_friends">
                            <div class="UIList_RecommendedFriends">
                                <h2 class="pageletTitle">Mutual Friends</h2>
                                <div class="uiListContainer">
                                    @foreach (User friend in mutualFriends)
                                    {
                                        <div class="uiListItem">
                                            <a href="@Url.RouteUrl("Profile", new { uid = Globals.GetDisplayId(friend) })">
                                                <img src="@Url.Content("~/static/images/avatars/" + Globals.UserImage(friend.UserImage, friend.Gender))"
                                                    alt="" width="40" height="40" />
                                                <span>@friend.FullName</span>
                                            </a>
                                            @if (friend.Country != null)
                                            {
                                                <div class="info">@friend.Country.Name</div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="uiBodyProfile">
                    <div class="uiBodyProfileContent">
                        @RenderBody()
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div> @* pagelet_user_profile *@
        <div class="clearfix"></div>
    </div> @* contentPane *@
</div>