@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    NewSocialNetwork.Domain.User user = ViewBag.UserLogged;
    bool hasUsername = user.Username != null && user.Username.Length > 0;
    string id = hasUsername ? user.Username : user.Email;
    string avatarFileName = SaberLily.Utils.GeneralUtils.UserImage(user.UserImage, user.Gender);
}
@section html_head_area {@RenderSection("html_head_area", false)}
@RenderPage("~/Views/Shared/Frontend/pagelet/_apps_bar_pagelet.cshtml")
<div id="pagelet_app_content" class="UIContainer_Content">
    <div id="contentPane">
        <div id="pagelet_user_profile">
            <div class="UIContent_UserProfile">
                <div class="uiHeadProfile">
                    <div class="uiProfileTitle">
                        @user.FullName
                    </div>
                </div>
                <div class="uiHeadCoverPhoto">
                </div>
                <div id="pagelet_profileSidebar" class="UISidebar_Profile">
                    <div class="uiProfileImageBox">
                        <div class="uiProfilePictureBox">
                            <div class="uiProfilePicture">
                                <div class="uiPicture">
                                    <img src="@Url.Content("~/static/images/avatars/" + avatarFileName)" title="" width="250" height="250" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uiProfileInfoBox">
                        <div class="uiProfileInfo">
                            <div class="uiProfileInfoContent">
                                <div class="uiInfoContent">
                                    <div class="infoContent">
                                        <span>NSN Group: </span> <strong>@user.UserGroup.Title</strong>
                                    </div>
                                    <div class="infoContent">
                                        <span>Live in</span> <strong>@user.Country.Name</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uiBodyProfile">
                    @RenderBody()
                </div>
            </div>
        </div> @* pagelet_user_profile *@
        <div class="clearfix"></div>
    </div> @* contentPane *@
</div>