@using Domain = NewSocialNetwork.Domain;
@{
    Domain.User myProfile = ViewBag.MyProfile;
}
<div id="pagelet_bluebar" class="UIPagelet">
    <div id="UIGlobal_BlueBarHolder" class="slimHeader">
        <div id="UIGlobal_BlueBar" class="UIComponent fixed_always">
            <div id="pageHead" class="navContainer clearfix">
                <h1 id="pageLogo"><a href="@Url.Content("~/?ref=logo")" title="home"></a></h1>
                <div id="jewelContainer">
                    <div id="nsnRequestsJewel" class="nsnJewel">
                        <a class="jewelButton" href="#">
                            <span class="jewelCount">
                                <span>7</span>
                            </span>
                        </a>
                    </div>
                    <div id="nsnMessagesJewel" class="nsnJewel">
                        <a class="jewelButton" href="#">
                            <span class="jewelCount">
                                <span>8</span>
                            </span>
                        </a>
                    </div>
                    <div id="nsnNotificationsJewel" class="nsnJewel">
                        <a class="jewelButton" href="#">
                            <span class="jewelCount">
                                <span>9</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div id="nsnHeadNav" class="UIComponent">
                    <div class="lfloat">
                        <form id="navSearchForm" action="?" method="get">
                            <div id="navSearch" class="uiTypeahead UIInputText">
                                <div class="wrap">
                                    <div class="innerWrap">
                                        <span class="uiSearchInput">
                                            <input type="text" name="q" class="textInput nostyle" />
                                            <button><span class="hidden_elem">Search</span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="rfloat">
                        <ul id="pageNav">
                            <li id="navTinyman" class="topNavLink tinyman">
                                <a href="@Url.RouteUrl("Profile", new { uid = ViewBag.MyDisplayId })" title="Profile">
                                    <img class="uiProfilePhoto" src="@Url.Content("~/static/images/avatars/" + ViewBag.MyAvatarFileName)" width="25" height="25" />
                                    <span class="tinymanName">@myProfile.FullName</span>
                                </a>
                            </li>
                            <li class="topNavLink middleLink">
                                <a href="#">Find Friends</a>
                            </li>
                            <li id="navHome" class="topNavLink lastLink">
                                <a href="@ViewBag.ContextPath">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> @*UIGlobal_BlueBar*@
    </div>
</div>