@using NewSocialNetwork.Domain;
@using Domain = NewSocialNetwork.Domain;
@{
    Domain.User myProfile = ViewBag.MyProfile;
    UserCount userCount = ViewBag.CountPending;
}
<div id="pagelet_bluebar" class="UIPagelet">
    <div id="UIGlobal_BlueBarHolder" class="slimHeader">
        <div id="UIGlobal_BlueBar" class="UIComponent fixed_always">
            <div id="pageHead" class="navContainer clearfix">
                <h1 id="pageLogo"><a href="@Url.Content("~/?ref=logo")" title="home"></a></h1>
                <div id="jewelContainer">
                    <div id="nsnRequestsJewel" class="nsnJewel">
                        <a class="jewelButton" href="#">
                            <span class="jewelCount">
                                @Html.Raw(userCount.FriendRequest > 0 ? "<span>" + userCount.FriendRequest + "</span>" : "")
                            </span>
                        </a>
                    </div>
                    <div id="nsnMessagesJewel" class="nsnJewel">
                        <a class="jewelButton" href="#">
                            <span class="jewelCount">
                                @Html.Raw(userCount.MailNew > 0 ? "<span>" + userCount.MailNew + "</span>" : "")
                            </span>
                        </a>
                    </div>
                    <div id="nsnNotificationsJewel" class="nsnJewel">
                        <a class="jewelButton" href="#">
                            <span class="jewelCount">
                                @Html.Raw(userCount.CommentPending > 0 ? "<span>" + userCount.CommentPending + "</span>" : "")
                            </span>
                        </a>
                    </div>
                </div>
                <div id="nsnHeadNav" class="UIComponent">
                    <div class="lfloat">
                        <form id="navSearchForm" action="@Url.RouteUrl("SearchAction", new { action = "Result" })" method="get">
                            <div id="navSearch" class="uiTypeahead UIInputText">
                                <div class="wrap">
                                    <div class="innerWrap">
                                        <span class="uiSearchInput">
                                            <input type="text" name="q" class="textInput nostyle off" />
                                            <button><span class="hidden_elem">Search</span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden_elem">
                                <input type="hidden" name="type" value="users" />
                            </div>
                        </form>
                    </div>
                    <div class="rfloat">
                        <ul id="pageNav">
                            <li id="navTinyman" class="topNavLink tinyman">
                                <a href="@Url.RouteUrl("Profile", new { uid = ViewBag.MyDisplayId })" title="Profile">
                                    <img class="uiProfilePhoto" src="@Url.Content("~/static/images/avatars/" + ViewBag.MyAvatarFileName)" alt="" width="25" height="25" />
                                    <span class="tinymanName">@myProfile.FullName</span>
                                </a>
                            </li>
                            <li class="topNavLink middleLink">
                                <a href="@Url.RouteUrl("SearchAction", new { action = "Result", type = NSNSearchType.FRIENDS })">Find Friends</a>
                            </li>
                            <li id="navHome" class="topNavLink middleLink">
                                <a href="@ViewBag.ContextPath">Home</a>
                            </li>
                            <li id="navAccount" class="topNavLink lastLink">
                                <a id="navAccountLink"><div class="menuPulldown"></div></a>
                                <ul id="userNavigation" class="navigation hidden_elem">
                                    <li>
                                        <a id="logout" class="navSubmenu">Sign Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> @*UIGlobal_BlueBar*@
    </div>
</div>