@using NSN.Common;
@using NewSocialNetwork.Domain;
@{
    User user = ViewBag.UProfile;
    PhotoAlbum album = ViewBag.Album;
}
<div id="photo-album-@(album.AlbumId)" class="UIGrid_Photo">
    <div class="uiHeadTop">
        @if (ViewBag.IsMyProfile)
        {
            <div class="photosActions">
                <div id="addPhoto" class="guiButton guiRedButton">Add Photos</div>
                <div id="removeAlbum" class="guiButton guiRedButton">Remove This Album</div>
            </div>
        }
        <h2 class="title">@Html.Raw(Globals.ApplyHtmlFrom(album.Name)) (@ViewBag.Photos.Count)</h2>
        <div style="margin-top:8px;"><a href="@Url.RouteUrl("PhotoAlbumList", new { uid = Globals.GetDisplayId(user) })">@user.FullName's Albums</a></div>
    </div>
    <div class="UIPhotoContainer">
        @foreach (Photo photo in ViewBag.Photos)
        {
            <div id="photo-@photo.PhotoId" class="UIPhotoItem">
                <div class="UIPhotoWrapper">
                @if (photo.Album.ProfileId > 0)
                {
                    <img class="zoomFeature" src="@Url.Content("~/static/images/avatars/" + photo.Image)" width="185" height="139" alt="" />
                }
                else
                {
                    <img class="zoomFeature" src="@Url.Content("~/static/images/photos/" + photo.Image)" width="185" height="139" alt="" />
                }
                </div>
                @if (ViewBag.IsMyProfile)
                {
                    <div class="photoActions">
                        <a class="removePhoto" href="#" title="Remove this photo">Remove</a>
                    </div>
                }
            </div>
        }
    </div>
</div>