<div class="UIGrid_Album">
    <h2 class="title">Albums (@ViewBag.Albums.Count)</h2>
    <div class="UIAlbumContainer">
        @if(ViewBag.Albums != null && ViewBag.Albums.Count > 0)
        {
            <div class="album">
				@foreach (NewSocialNetwork.Domain.PhotoAlbum album in ViewBag.Albums)
				{
					NewSocialNetwork.Domain.Photo albumAvatar = NSN.Common.Globals.GetAlbumAvatar(album.AlbumId);
					<div class="albumItem">
					    <a class="albumImage" href="@Url.RouteUrl("PhotoAlbumAction", new { albumid = album.AlbumId, action = "ListPhotos" })" tabindex="-1">
						    <span class="frontImageAlbum">
							    @if (albumAvatar != null && !String.IsNullOrEmpty(albumAvatar.Image))
							    {
                                    if (albumAvatar.Album.ProfileId > 0)
                                    {
								        <img alt="" src="@Url.Content("~/static/images/avatars/" + albumAvatar.Image)" height="111px" width="167px" />
                                    }
                                    else
                                    {
                                         <img alt="" src="@Url.Content("~/static/images/photos/" + albumAvatar.Image)" height="111px" width="167px" />
                                    }
                                }
						    </span>
					    </a>
					    <div style="margin-top: 5px"><b style="font-weight:bold">@album.Name</b><br />@album.TotalPhoto photos</div>
                    </div>
                }
			</div>
        }
        else
        {
			<p>No albums.</p>
        }
	</div>
</div>