<!DOCTYPE html>
<html id="newsocl" xmlns="http://www.w3.org/1999/xhtml" lang="en-US" dir="ltr">
<head>
    <meta charset="@ViewBag.Charset" />
    <meta name="author" content="@ViewBag.NSNAuthorName <@(ViewBag.NSNAuthorEmail)>" />
    <meta name="application-name" content="@ViewBag.NSNCodeName" />
    <meta name="description" content="@ViewBag.NSNName (v@(ViewBag.NSNVersion))" />
    <meta name="generator" content="@ViewBag.PageGenerator" />
    <meta name="keywords" content="@ViewBag.PageKeywords" />
    <meta name="viewport" content="width=device-width" />
    <base href="@NSN.Common.Globals.ApplicationPath/" />
    <title>@ViewBag.PageTitle</title>
    <script type="text/javascript">
        document.contextPath = '@NSN.Common.Globals.ApplicationPath';
        document.startTime = document.startTime || (new Date).getTime();
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/static/images/favicon.ico")" />
    @RenderSection("html_head_area", false)
</head>
<body @RenderSection("body_attrib", false)>
    <section id="mainSection" class="gA">
        <header>
            @RenderSection("html_body_header", false)
        </header>
        <section>
            @RenderBody()
        </section>
        <footer>
            @RenderSection("html_body_footer", false)
        </footer>
    </section>
</body>
</html>