@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section html_head_area {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/static/themes/hikari/sso.css")" />
    <script type="text/javascript">
        new Image().src = '@Url.Content("~/static/themes/hikari/images/worldmap_2_1.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/logo64_color.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/newsoclnet.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/background1.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/stripe.gif")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/loading1.gif")';
    </script>
    <script type="text/javascript" src="@Url.Content("~/static/js/jquery/jquery-1.7.2.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/js/jquery/jquery-ui-1.8.20.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/js/jquery/jquery.validate-1.9.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/js/jquery/jquery.validate.additional.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/js/goog/base.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/themes/hikari/nsn.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/themes/hikari/sso.js")" charset="@ViewBag.Charset"></script>
}
@section body_attrib {class="UIPage UIPage_Index UIPage_HikariLogin"}
@section html_body_header {
    @RenderPage("~/Views/Shared/Frontend/pagelet/_bluebar_loggedOut_pagelet.cshtml")
}
@section html_body_footer {
    <div id="globalFooter" class="gl">
        <div class="stripe"></div>
        <div id="pageFooter">
            <div class="rfloat">
                <div id="pagelet_nsnIndexAuthor">
                    <div class="nsnProjectAuthor">
                        <p class="nsnCopyright"><span class="press">Phạm Thị Phương Liên</span> &lt;<span class="press">insaber2309@yahoo.com</span>&gt;</p>
                    </div>
                </div>
            </div>
            <div class="lfloat">
                <div id="pagelet_nsnCopyleft">
                    <p class="nsnCopyright">@@<span class="press">Copyleft</span> 2012, <span class="press">NewSocl.net</span></p>
                </div>
            </div>
        </div>
    </div>
}
<div id="globalContainer" class="gl">
    @RenderBody()
</div>