@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section html_head_area {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/static/themes/hikari/user.css")" />
    <script type="text/javascript">
        new Image().src = '@Url.Content("~/static/themes/hikari/images/background1_2.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/background1.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/nsn.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/fb_sprite_icons_1.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/fb_sprite_icons_2.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/fb_sprite_icons_3.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/fb_sprite_icons_4.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/ribbon_nav_common.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/uiSearchButton.png")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/stripe.gif")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/loading1.gif")';
        new Image().src = '@Url.Content("~/static/themes/hikari/images/default_coverphoto_940x180.png")';
    </script>
    <script type="text/javascript" src="@Url.Content("~/static/js/goog/base.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/js/jquery/jquery-1.7.2.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/js/jquery/jquery-ui-1.8.20.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/js/jquery/jquery.validate-1.9.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/js/jquery/jquery.validate.additional.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/js/jquery/jquery.autogrow-textarea.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/js/jquery/jquery.input-hint.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/themes/hikari/nsn.js")" charset="@ViewBag.Charset"></script>
    <script type="text/javascript" src="@Url.Content("~/static/themes/hikari/user.js")" charset="@ViewBag.Charset"></script>
    @RenderSection("html_head_area")
}
@section body_attrib {class="UIPage UIPage_Hikari"}
@section html_body_header {
    <div id="globalHeader" class="gl">
        @RenderPage("~/Views/Shared/Frontend/pagelet/_bluebar_loggedIn_pagelet.cshtml")
    </div>
}
@section html_body_footer {
    <div id="globalFooter" class="gl">
    </div>
}
<div id="hikari" class="@(ViewBag.hasLeftCol == null ? "" : ViewBag.hasLeftCol ? "hasLeftCol" : "")">
    <div id="globalContainer" class="gl">
        <div id="mainContainer" class="nsnContainer">
            @RenderBody()
        </div>
    </div>
</div>
@RenderPage("~/Views/Shared/Frontend/pagelet/_hidden_pagelet.cshtml")