@using NSN.Common;
@using Domain = NewSocialNetwork.Domain;
@{
    Domain.User userProfile = ViewBag.UProfile;
}
<div class="UIProfileInfo">
    <div class="uiProfileBasic">
        <div class="uiBoxTop">
            <h2 class="title">Basic Information</h2>
        </div>
        <div class="row">
            <div class="label">Introduction</div>
            <div class="text">...</div>
        </div>
        <div class="row">
            <div class="label">Primary group</div>
            <div class="text">@userProfile.UserGroup.Title</div>
        </div>
        <div class="row">
            <div class="label">Email</div>
            <div class="text">@userProfile.Email</div>
        </div>
        <div class="row">
            <div class="label">Gender</div>
            <div class="text">@Globals.Gender(userProfile.Gender)</div>
        </div>
        <div class="row">
            <div class="label">Birthday</div>
            <div class="text">@Globals.ShowBirthday(userProfile.Birthday)</div>
        </div>
        <div class="row">
            <div class="label">Live in</div>
            <div class="text">@userProfile.Country.Name</div>
        </div>
        <div class="row">
            <div class="label">Join date</div>
            <div class="text">@Globals.ShowDate(userProfile.Joined)</div>
        </div>
        <div class="row">
            <div class="label"></div>
            <div class="text"></div>
        </div>
    </div>
    <div class="uiProfileRelation">
        <div class="uiBoxTop">
            <h2 class="title">Relationship</h2>
        </div>
    </div>
</div>