@{
    NewSocialNetwork.Domain.User user = ViewBag.UserLogged;
    string gender = SaberLily.Utils.GeneralUtils.Gender(user.Gender);
    DateTime joined = SaberLily.Utils.DateTimeUtils.ConvertFromUnixTimestamp(user.Joined);
    string avatarFileName = SaberLily.Utils.GeneralUtils.UserImage(user.UserImage, user.Gender);
}
<div id="pagelet_user_profile">
    <div class="UIContent_UserProfile">
        <div class="uiHeadProfile">
            <div class="uiProfileTitle">
                @user.FullName
            </div>
        </div>
        <div class="uiHeadCoverPhoto">
        </div>
        <div id="pagelet_profileSidebar" class="UISidebar_Profile">
            <div class="uiProfileImageBox">
                <div class="uiProfilePictureBox">
                    <div class="uiProfilePicture">
                        <div class="uiPicture">
                            <img src="@Url.Content("~/static/images/avatars/" + avatarFileName)" title="" width="250" height="250" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="uiProfileInfoBox">
                <div class="uiProfileInfo">
                    <div class="uiProfileInfoContent">
                        <div class="uiInfoContent">
                            <div class="infoContent">
                                <span>NSN Group: </span> <strong>@user.UserGroup.Title</strong>
                            </div>
                            <div class="infoContent">
                                <span>Live in</span> <strong>@user.Country.Name</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uiBodyProfile">
            @RenderPage("~/Views/Shared/Frontend/pagelet/_composer_pagelet.cshtml")
            <div id="pagelet_user_feed">
                Load feed of user!
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
@*
<img src="@Url.Content("~/static/images/avatars/")@ViewBag.UserLogin.UserImage" />
<div>
<h2>Basic Info</h2>
<table style="margin-left: 80px">
<tr>
<td>User Group :</td><td>@ViewBag.UserLogin.UserGroup.Title</td>
</tr>
<tr>
<td>Email :</td><td>@ViewBag.UserLogin.Email</td>
</tr>
<tr>
<td>Gender :</td><td>@gender</td>
</tr>
<tr>
<td>Birthday :</td><td>@ViewBag.UserLogin.Birthday</td>
</tr>
<tr>
<td>Country :</td><td>@ViewBag.UserLogin.Country.Name</td>
</tr>
<tr>
<td>Join Date :</td><td>@joined.ToShortDateString()</td>
</tr>
<tr>
<td>Status :</td><td>...</td>
</tr>
</table>
</div>
*@
@*List Friends Of User*@
@*Friends : @ViewBag.ListFriend.Count
@{
     if (ViewBag.ListFriend != null && ViewBag.ListFriend.Count > 0)
    {
        foreach (var user in ViewBag.ListFriend)
        {
            <div>
                <div style="display:inline-block">
                @if(user.UserImage!=null)
                {
                    <img src="@Url.Content("~/static/images/avatars/")@user.UserImage" />   
                }
                else
                {
                    <img src="@Url.Content("~/static/images/avatars/1_tien.gif")" />
                }
                </div>
                <div style="display:inline-block">@user.FullName<br />@user.Country.Name</div>
            </div>
        }
    }
     else
     {
        <p>No Friends.</p>
     }
}
*@
