@{
    NewSocialNetwork.Domain.User userProfile = ViewBag.UProfile;
    string gender = NSN.Common.Globals.Gender(userProfile.Gender);
    DateTime joined = SaberLily.Utils.DateTimeUtils.ConvertFromUnixTimestamp(userProfile.Joined);
}

<div class="UIProfile">
    <div class="UIProfileItem">
        <div class="UIProfileText a-f-e">Short introduction</div>
        <div class="UIProfileData a-f-e">...</div>
    </div>
   <div class="UIProfileItem">
        <div class="UIProfileText a-f-e">User group</div>
        <div class="UIProfileData a-f-e">@userProfile.UserGroup.Title</div>
    </div>
    <div class="UIProfileItem">
    <div class="UIProfileText a-f-e">Email</div>
    <div class="UIProfileData a-f-e">@userProfile.Email</div>
    </div>
    <div class="UIProfileItem">
        <div class="UIProfileText a-f-e">Gender </div>
        <div class="UIProfileData a-f-e">@gender</div>
    </div>
    <div class="UIProfileItem">
        <div class="UIProfileText a-f-e">Birthday</div>
        <div class="UIProfileData a-f-e">@userProfile.Birthday</div>
    </div>
    <div class="UIProfileItem">
        <div class="UIProfileText a-f-e">Live in</div>
        <div class="UIProfileData a-f-e">@userProfile.Country.Name</div>
    </div>
    <div class="UIProfileItem">
        <div class="UIProfileText a-f-e">Join date</div>
        <div class="UIProfileData a-f-e">@joined.ToShortDateString()</div>
    </div>
    <div class="UIProfileItem">
        <div class="UIProfileText a-f-e">Status</div>
        <div class="UIProfileData a-f-e">....</div>
    </div>
</div>