@{
    NewSocialNetwork.Domain.User userProfile = ViewBag.UserProfile;
    string gender = SaberLily.Utils.GeneralUtils.Gender(userProfile.Gender);
    DateTime joined = SaberLily.Utils.DateTimeUtils.ConvertFromUnixTimestamp(userProfile.Joined);
}

<div class="ML">
    <div class="l-up ne jc">
        <div class="Od a-f-e">Short introduction</div>
        <div class="Ga a-f-e">...</div>
    </div>
   <div class="l-up ne jc">
        <div class="Od a-f-e">User group</div>
        <div class="Ga a-f-e">@userProfile.UserGroup.Title</div>
    </div>
    <div class="l-up ne jc">
    <div class="Od a-f-e">Email</div>
    <div class="Ga a-f-e">@userProfile.Email</div>
    </div>
    <div class="l-up ne jc">
        <div class="Od a-f-e">Gender </div>
        <div class="Ga a-f-e">@gender</div>
    </div>
    <div class="l-up ne jc">
        <div class="Od a-f-e">Birthday</div>
        <div class="Ga a-f-e">@userProfile.Birthday</div>
    </div>
    <div class="l-up ne jc">
        <div class="Od a-f-e">Live in</div>
        <div class="Ga a-f-e">@userProfile.Country.Name</div>
    </div>
    <div class="l-up ne jc">
        <div class="Od a-f-e">Join date</div>
        <div class="Ga a-f-e">@joined.ToShortDateString()</div>
    </div>
    <div class="l-up ne jc">
        <div class="Od a-f-e">Status</div>
        <div class="Ga a-f-e">...</div>
    </div>
</div>

@*List Friends Of User*@
@*Friends : @ViewBag.ListFriend.Count
@{
     if (ViewBag.ListFriend != null && ViewBag.ListFriend.Count > 0)
    {
        foreach (var user in ViewBag.ListFriend)
        {
            <div>
                <div style="display:inline-block">
                @if(user.UserImage!=null)
                {
                    <img src="@Url.Content("~/static/images/avatars/")@user.UserImage" />   
                }
                else
                {
                    <img src="@Url.Content("~/static/images/avatars/1_tien.gif")" />
                }
                </div>
                <div style="display:inline-block">@user.FullName<br />@user.Country.Name</div>
            </div>
        }
    }
     else
     {
        <p>No Friends.</p>
     }
}
*@
