@{
    ViewBag.hasLeftCol = false;
    ViewBag.hasRightCol = true;
    string gender = SaberLily.Utils.GeneralUtils.Gender(ViewBag.UserLogin.Gender);
    DateTime joined = SaberLily.Utils.DateTimeUtils.ConvertFromUnixTimestamp(ViewBag.UserLogin.Joined);
}
<img src="@Url.Content("~/static/images/avatars/")@ViewBag.UserLogin.UserImage" />
<div>
<h2>Basic Info</h2>
<table style="margin-left: 80px">
<tr>
<td>User Group :</td><td>@ViewBag.UserLogin.UserGroup.Title</td>
</tr>
<tr>
<td>Email :</td><td>@ViewBag.UserLogin.Email</td>
</tr>
<tr>
<td>Gender :</td><td>@gender</td>
</tr>
<tr>
<td>Birthday :</td><td>@ViewBag.UserLogin.Birthday</td>
</tr>
<tr>
<td>Country :</td><td>@ViewBag.UserLogin.Country.Name</td>
</tr>
<tr>
<td>Join Date :</td><td>@joined.ToShortDateString()</td>
</tr>
<tr>
<td>Status :</td><td>...</td>
</tr>
</table>
</div>
@*List Friends Of User*@
Friends : @ViewBag.ListFriend.Count
@{
     if (ViewBag.ListFriend != null && ViewBag.ListFriend.Count > 0)
    {
        foreach (var user in ViewBag.ListFriend)
        {
            <div>
                <div style="display:inline-block">
                @if(user.UserImage!=null)
                {
                    <img src="@Url.Content("~/static/images/avatars/")@user.UserImage" />   
                }
                else
                {
                    <img src="@Url.Content("~/static/images/avatars/1_tien.gif")" />
                }
                </div>
                <div style="display:inline-block">@user.FullName<br />@user.Country.Name</div>
            </div>
        }
    }
     else
     {
        <p>No Friends.</p>
     }
}

